<h1>Routing App Revision - 23.05</h1>

<nav>
  <ul>
    <li>
      <a
        routerLink="/FirstComponent"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <!--<app-first></app-first> router outlet-->
        First Component
      </a>
    </li>
    <li>
      <a
        routerLink="/SecondComponent"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        Second Component
      </a>
    </li>
  </ul>
</nav>
<router-outlet>Click on options to display the data</router-outlet>
